body {
    height: 120vh; /* vh is view height */
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
}


ul {
    display: flex;
    list-style: none;
    
    margin: 0;
    padding: 0;
    padding-right: 64px;
    gap: 16px;

    align-items: center;
    
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

h2 {
    color: #f9faf8;
}

.information h2 {

    color: #1f2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

p {
    color: #e5e7eb;
}

.quote p {
    color: #1f2937;
    
}

.card p {

    color: #1f2937;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    width: 96px;
}

#header-logo {
    
    display: flex;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    padding-left: 64px;

}

.header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 64px;
    gap: 64px;
}

.top-image {
    display: flex;
    width: 412px;
    height: 200px;
    flex: 0 0 auto;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.hero {
    
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 16px;

}

.information-cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    

}

.card {
    width: 142px;
    
    display: flex;
    flex-direction: column;
}

.image {
    height: 128px;
    width: 128px;
    /*background-color: #1f2937;*/
    border-style: solid;
    border-color: #3882f6;

    border-radius: 12px;
    
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 128px;
    background-color: #e5e7eb;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #3882f6;
    width: 70vw;
}

.sign-up-text {
    padding: 8px;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    margin-top: auto;
}